<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <div class="container">
    <h1 class="display-2">Does My Pet Need An Umbrella?</h1>
    <h2 class="text-center">Select a pet to find out. <a href="/map" class="alert-link">Show on Google Maps</a></h2>       
    <table class="table">
      <thead>
        <tr class="success">
          <th>Name</th>
          <th>Type</th>
          <th>Breed</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <p><a href="/pets/new" class="alert-link">Add your pets?</a></p>
  </div>
  <script src="/js/regular_index.js"></script>
</body>
</html>
