<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <div class="container">
    <h1 class="display-2">Add your pet</h1>
    <form class="form-horizontal" action="https://stormy-shore-87607.herokuapp.com/api/pets/" method="post">
	    <div class="form-group">
	      <label class="control-label col-sm-2" for="name">Name:</label>
	      <div class="col-sm-10">
	        <input type="text" class="form-control" id="name" placeholder="Enter name" name="pet_name">
	      </div>
	    </div>
	    <div class="form-group">
		  <label for="pet_type" class="control-label col-sm-2">Type:</label>
		  <div class="col-sm-10">
			  <select class="form-control" id="pet_type" name="pet_type">
			  	<option value="">Select type</option>
			    <option value="Dog">Dog</option>
			    <option value="Cat">Cat</option>
			    <option value="Other">Other</option>
			  </select>
			</div>
		</div>
	    <div class="form-group">
		  <label for="pet_breed" class="control-label col-sm-2">Breed:</label>
		  <div class="col-sm-10">
			  <select class="form-control" id="pet_breed" name="pet_breed">
			    <option>Select breed</option>
			  </select>
			</div>
		</div>
		<div class="form-group">
	      <label class="control-label col-sm-2" for="location">Location:</label>
	      <div class="col-sm-10">
	        <input type="text" class="form-control" id="location" placeholder="Enter location" name="pet_location">
	      </div>
	    </div>
	    <div class="form-group">
	      <label class="control-label col-sm-2" for="latitude">Latitude:</label>
	      <div class="col-sm-10">
	        <input type="text" class="form-control" id="latitude" placeholder="Enter latitude" name="pet_latitude">
	      </div>
	    </div>
	    <div class="form-group">
	      <label class="control-label col-sm-2" for="longitude">Longitude:</label>
	      <div class="col-sm-10">
	        <input type="text" class="form-control" id="longitude" placeholder="Enter longitude" name="pet_longitude">
	      </div>
	    </div>
	    <div class="form-group">        
	      <div class="col-sm-offset-2 col-sm-10">
	      	<a href="/" class="alert-link">Cancel</a>
	        <button type="submit" class="btn btn-success">Add my pet!</button>
	      </div>
	    </div>
  </form>
  </div>
   <script src="/js/regular_new.js"></script>
</body>
</html>